APP_ENV=local
APP_DEBUG=true
APP_URL=https://join.prestive.club
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=prestive
DB_USER=root
DB_PASS=secret
SESSION_NAME=prestive_session
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!